<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            .addCartMain {
                background-color: #fff;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                width: 350px;
            }
            .addCartContent {
                display: flex;
                flex-direction: column;
            }
            .addCartContent_item {
                display: flex;
                flex-direction: row;
            }
            .addCartContent_item span {
                font-size: 1.2rem;
                font-weight: 500;
            }
            .addCartContent_image {
                width: 100px;
                height: 100px;
                padding: 10px 10px 10px 10px;
            }
            .addCartContent_image img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        </style>
    </head>
    <body>
        <div class="addCartMain">
            <div class="addCartContent">
                <div class="addCartContent_item">
                    <span class="text-center">Thêm vào giò thành công</span>
                </div>
                <div class="addCartContent_item">
                    <div class="addCartContent_image">
                        <img src="public/img/city-product-1.webp" alt="" />
                    </div>
                    <div class="addCartContent_name">
                        <span>Mô hình lego thành phố</span>
                        <div class="addCartContent_quantity">
                            Số lượng mua: 1
                        </div>
                    </div>
                </div>
                <div class="addCartContent_item"></div>
            </div>
        </div>
    </body>
</html>
<section class="product">
    <div class="container">
        <div class="title_home">
            <h2>Sản phẩm giảm giá</h2>
        </div>
        <div class="owl-carousel owl-theme">
            @foreach ($productDiscountSection as $item) @php $userGroupDiscount
            = 0; $userPriceModal = 0; if ($user && Auth::check()) { // giá giảm
            nhóm người dùng đã đăng nhập // truy cập vào table user lấy ra
            user_group_id, để biết khách hàng đang thuốc nhóm nào(đồng, bạc,
            vàng) $userGroupId = $user->user_group_id; //$item biến đại diện cho
            từng sản phẩm, và các giảm giá liên quan đến sản phẩm đó, và lọc giá
            giảm theo nhóm người dùng cụ thể $userGroupDiscount =
            $item->productDiscount ->where('user_group_id', $userGroupId)
            ->first(); // dùng để lấy được giá cho modal $userPriceModal =
            $userGroupDiscount ? $userGroupDiscount->price : null; } /* else {
            // giá giảm nhóm người dùng không cần đăng nhập //
            $userGroupDefaultDiscount biến này đã đucợ xử lí bên controller và
            model nên chỉ cần gọi biến qua đây $userGroupDefaultDiscount =
            $item->productDiscount->first(); // ràng buộc giá default mặc định
            $userPriceModal = $userGroupDefaultDiscount ?
            $userGroupDefaultDiscount->price : null; }*/ $percent =
            ceil((($item->price - $userPriceModal) / $item->price) * 100);
            $productImageCollect = $item->productImage->pluck('images'); //
            pluck lấy một tập hợp các giá trị của trường cụ thể @endphp

            <div class="item">
                <div class="product_box">
                    <div class="product_box_effect">
                        <div class="product_box_tag_sale">{{ $percent }}%</div>
                        <div class="product_box_icon">
                            <i class="fa-regular fa-heart"></i>
                            <button
                                class="outline-0 border-0 bg-white"
                                onclick="showModalProduct('{{ $item->id }}','{{ $item->image }}','{{ $item->name }}','{{ $item->price }}','{{ $userPriceModal }}','{{ json_encode($productImageCollect) }}')"
                            >
                                <i class="fa-regular fa-eye"></i>
                            </button>
                            {{-- truyền vào id sản phẩm và số lượng cần
                            thêm,user_id server láy từ sesion --}}
                            <button
                                type="button"
                                onclick="addToCart('{{ $item->id }}', 1)"
                                class="outline-0 border-0 bg-white"
                            >
                                <i class="fa-solid fa-bag-shopping"></i>
                            </button>
                        </div>

                        <div class="product_box_image">
                            <img
                                src="{{ asset('img/' . $item->products->image) }}"
                                alt=""
                            />
                        </div>
                        <div class="product_box_content_out">
                            <div class="product_box_content">
                                <h3>
                                    <a href="">{{ $item->products->name }}</a>
                                </h3>
                            </div>
                            <div class="product_box_price">
                                @if (Auth::check()) Gía giảm dành cho user đăng
                                nhập có the @else {{-- giá giảm mặc định dành
                                cho user ko đăng nhập --}}
                                <span
                                    >{{ number_format($item->products->price, 0,
                                    ',', '.') . 'đ' }}</span
                                >{{ number_format($item->price, 0, ',', '.') .
                                'đ' }} @endif
                            </div>
                            {{-- @if ($user && Auth::check()) @if
                            ($userGroupDiscount)
                            <div class="product_box_price">
                                <span
                                    >{{ number_format($item->price, 0, ',', '.')
                                    . 'đ' }}</span
                                >{{ number_format($userGroupDiscount->price, 0,
                                ',', '.') . 'đ' }}
                            </div>
                            @else
                            <div class="product_box_price">
                                <span></span>{{ number_format($item->price, 0,
                                ',', '.') . 'đ' }}
                            </div>
                            @endif @else @if ($userGroupDefaultDiscount)
                            <div class="product_box_price">
                                <span
                                    >{{ number_format($item->price, 0, ',', '.')
                                    . 'đ' }}</span
                                >{{
                                number_format($userGroupDefaultDiscount->price,
                                0, ',', '.') . 'đ' }}
                            </div>
                            @else
                            <div class="product_box_price">
                                <span></span>{{ number_format($item->price, 0,
                                ',', '.') . 'đ' }}
                            </div>
                            @endif @endif --}}
                        </div>
                    </div>
                </div>
            </div>
            @endforeach
        </div>
    </div>
</section>
<!-- END PRODUCT GIẢM GIÁ  -->
